@charset "UTF-8";
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.05em;
  font-size: 18px;
  margin: 0;
}

main .projects, header.header {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 750px) {
  main .projects, header.header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

h1,
h2,
h3,
h4,
p {
  font-weight: 400;
}

a {
  color: inherit;
}

header.header {
  text-transform: uppercase;
  padding-top: 24px;
  display: flex;
  background: grey;
  justify-content: space-between;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}
header.header h1,
header.header h2 {
  font-size: 1.778em;
  margin: 0;
}
header.header h2:hover {
  cursor: pointer;
}
header.header .contact {
  text-align: right;
}

.sidePanelContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  top: 0;
  z-index: 99999999;
  transition: background 0.25s linear;
}
.sidePanelContainer.nav-open {
  pointer-events: auto;
  background: rgba(255, 255, 255, 0.5);
}
.sidePanelContainer .sidePanel {
  position: absolute;
  background: lightgrey;
  top: 0;
  right: 0;
  bottom: 0;
  color: #222;
  border-left: 1px solid #222;
  transform: translateX(100%);
  transition: transform 0.25s linear;
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 1.5em;
}
.sidePanelContainer .sidePanel header {
  display: flex;
  justify-content: flex-end;
}
.sidePanelContainer .sidePanel p {
  max-width: 60ch;
}
.sidePanelContainer .sidePanel.nav-open {
  transform: translateX(0);
}
.sidePanelContainer .sidePanel .innerPanel {
  margin-top: 75px;
  font-size: 1.25em;
}
.sidePanelContainer .sidePanel .innerPanel .caps {
  text-transform: uppercase;
}
.sidePanelContainer .sidePanel .innerPanel p:first-of-type {
  margin-top: 0;
}
@media (min-width: 750px) {
  .sidePanelContainer .sidePanel {
    width: 50%;
    padding: 1.5em 2em;
  }
}

main {
  margin-top: 75px;
}
main .projects {
  margin: 0 auto;
  list-style-type: circle;
  list-style: none;
  padding-inline-start: 30px;
}
main .projects .project .projectContent {
  max-width: 100%;
  margin: 0 auto;
}
main .projects .project .projectContent img {
  width: 100%;
}
main .projects .project .projectContent .projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .projects .project .projectContent .projectInfo .projectTitle,
main .projects .project .projectContent .projectInfo .projectDesc {
  background: lightgray;
  border: 1px solid grey;
}
main .projects .project .projectContent .projectInfo .projectTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .projects .project .projectContent .projectInfo .projectTitle h2,
main .projects .project .projectContent .projectInfo .projectTitle p {
  margin: 0;
  font-size: 24px;
}
main .projects .project .projectContent .projectInfo .projectDesc {
  width: 100%;
}
@media (min-width: 750px) {
  main .projects .project .projectContent {
    max-width: 66%;
  }
  main .projects .project .projectContent .projectInfo {
    flex-direction: row;
    align-items: flex-start;
  }
  main .projects .project .projectContent .projectInfo .projectTitle,
main .projects .project .projectContent .projectInfo .projectDesc {
    width: 48.5%;
  }
  main .projects .project .projectContent .projectInfo .projectTitle p,
main .projects .project .projectContent .projectInfo .projectDesc p {
    margin-top: 15px;
  }
  main .projects .project .projectContent .projectInfo .projectTitle h2 {
    margin-top: 15px;
    margin-bottom: 0;
  }
  main .projects .project .projectContent .projectInfo .projectTitle p {
    line-height: 0.5em;
  }
  main .projects .project .projectContent .projectInfo .projectTitle a:hover {
    color: #00f;
  }
}

#left,
#right {
  position: fixed;
  text-align: center;
  height: 1em;
  transform-origin: center;
  bottom: 20px;
  transform: rotate(0);
  background: lightgray;
  padding: 5px;
  border: 1px solid grey;
}
#left p,
#right p {
  margin: 0;
  text-transform: uppercase;
}
#left a,
#right a {
  text-decoration: none;
}
#left a:hover,
#right a:hover {
  cursor: pointer;
}
@media (min-width: 750px) {
  #left,
#right {
    top: 50%;
    bottom: 50%;
  }
}

#left {
  left: 20px;
}
@media (min-width: 750px) {
  #left {
    transform: rotate(-90deg);
    left: 0px;
  }
}

#right {
  right: 20px;
}
@media (min-width: 750px) {
  #right {
    transform: rotate(90deg);
    right: 10px;
  }
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}
ul li::before {
  content: "⬏";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-right: 10px;
}

.projects li.project::before {
  content: "";
}

/*# sourceMappingURL=index.css.map */
